/* Start Global */

*
{
	font-family: 'Roboto', sans-serif;
	transition: all 0.3s;
}

/* End Global */

/* Start Home */

#home
{
	background-image: url(../img/cover.jpg);
	background-size: 100% 100%;
	background-attachment: fixed;
}

.bg-dark
{
	background-color: rgba(0,0,0,0.3) !important;
	border-bottom: 1px solid;
}

.navbar .collapse .navbar-nav .nav-item
{
	margin-right: 15px;
}

.navbar .collapse .navbar-nav .nav-item .nav-link
{
    color: rgba(255,255,255,.9)!important;
    font-size: 12px;
    font-weight: 600;
}

.navbar .collapse .navbar-nav .nav-item .nav-link:hover
{
	color: #fff;
	border-bottom: 1px solid #fff;
}

#home .slide .caption
{
	text-align: center;
	width: 100%;
	padding: 200px 0;
	background-color: rgba(0,0,0,0.6);
}

#home .slide .caption>p
{
	font-size: 20px !important;
	color: #fff !important;
}

#home .slide .caption span
{
	height: 5px;
	width: 2%;
	display: block;
	margin: -25px auto 20px;
	background-color: #f9461d;
}

#home .slide .caption h1
{
	font-size: 60px;
    font-weight: 700;
    color: #fff;
    margin:0 auto 30px;
    width: 50%;
}


#home .slide .caption p
{
	font-size: 21px;
	margin-bottom: 20px;
    font-weight: 300;
    line-height: 1.4;
    margin: 50px auto;
}
#home .slide .caption p:last-of-type
{
	color: rgba(255,255,255,0.9) !important;
	width: 40%;
}

#home .slide .caption a
{
	padding: 20px 40px;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: #f9461d;
}

/* End Home */

/* Start Intro */

#intro
{
	background-color: #fcfcfc;
}

#intro .info
{
	padding: 150px 0;
}

#intro .info p
{
	width: 60%;
	margin: auto;
	font-size: 20px;

}

#intro .info span
{
	display: block;
	height: 2px;
	width: 7%;
	background-color: #f9461d;
	margin: 30px auto 0;
}

/* End Intro */

/* Start About */

#about
{
	padding: 150px 0;
}

#about .head h2
{
	font-size: 50px;
	font-weight: 700
}

#about .head p
{
	font-size: 27px;
	font-weight: 100;
}

#about .head span
{
	display: block;
	height: 4px;
	width: 7%;
	background-color: #f9461d;
	margin: 10px auto 80px;
}

#about .text p
{
	font-size: 20px
}

#about .text a
{
	padding: 10px 20px;
	text-transform: uppercase;
	border-radius: 5px;
	background-color: #f9461d;
}

/* End About */
/* Start Facts */

#facts
{
	background-image: url(../img/bg-fun-facts.jpg);
	background-size: 100% 100%;
	
}

#facts .layer
{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	height: 100%;
	padding: 150px 0;
	color: #fff;
}


#facts .head h2
{
	font-size: 50px;
}

#facts .head p
{
	font-size: 30px;
	font-weight: 100;
}

#facts .head span
{
	display: block;
	height: 4px;
	width: 7%;
	background-color: #f9461d;
	margin: 10px auto 80px;
}

#facts .icon i
{
	color: #f9461d;
}

#facts .icon p
{
	font-size: 40px;
	font-weight: 600;
	margin: 15px auto;
}

#facts .icon span
{
	font-size: 20px;
}

/* End Facts */

/* Start experience */

#experience
{
	padding: 150px 0;
	background-color: #fcfcfc;
}

#experience .head h2
{
	font-size: 50px;
	font-weight: 700;
}

#experience .head p
{
	font-size: 20px;
	letter-spacing: 3px;
}

#experience .head span
{
	display: block;
	height: 4px;
	width: 7%;
	background-color: #f9461d;
	margin: 20px auto 50px;
}

#experience .icon
{
	display: inline-block;
	width: 20%;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: -50px;
	margin-top: 50px;
}

#experience .icon i
{
	color: #fff;
	background-color: #f9461d;
	padding: 15px;
	border-radius: 5px;
}

#experience .text
{
	display: inline-block;
	width: 80%;
	margin-top: 50px;
}

/* End experience */

/* Start Skills */

#skills
{
	background-image: url(../img/bg-skills.jpg);
	background-size: 100% 100%;
}

#skills .layer
{
	padding: 150px 0;
	color: #fff;
	background-color: rgba(0,0,0,0.6);
}

#skills .layer .head h2
{
	font-size: 50px;
	font-weight: 700;
}

#skills .layer .head p
{
	font-size: 25px;
	letter-spacing: 1px
}

#skills .layer .head span
{
	display: block;
	height: 4px;
	width: 7%;
	background-color: #f9461d;
	margin: 10px auto 80px;
}

#skills .layer .circle
{
	border: 10px solid #fff;
	width: 200px;
	height: 200px;
}

#skills .layer .circle p
{
	margin-top: 35%;
	font-size: 40px;
	font-weight: 700;
}

#skills .layer p
{
	font-size: 20px;
	margin: 20px;
	letter-spacing: 3px;
}

#skills .layer .mrg
{
	margin-left: 60px;
}

/* End Skills */

/* Start Services */

#services
{
	padding: 150px 0;
	background-color: #fcfcfc;
}

#services .head h2
{
	font-size: 50px;
	font-weight: 600;
	letter-spacing: 3px
}

#services .head p
{
	font-size: 20px;
	letter-spacing: 3px
}

#services .head span
{
	display: block;
	height: 4px;
	width: 7%;
	background-color: #f9461d;
	margin: 10px auto 80px;
}

#services .service i
{
	color: #f9461d;
	border: 1px solid #f9461d;
	width: 100px;
	height: 100px;
	border-radius: 50%;
}
.fa-lightbulb:before 
{
    content: "\f0eb";
    top: 33px;
    position: absolute;
    left: 180px;
}

#services .service:hover i
{
	background-color: #f9461d;
	color: #fff;
}

#services .service h3
{
	font-weight: 100;
	letter-spacing: 2px;
}

#services .service span
{
	display: block;
	height: 2px;
	width: 10%;
	background-color: #f9461d;
	margin: 20px auto ;
}

#services .service p
{
	width: 90%;
	margin: auto;
}
#services .brd
{
	border-left: 1px solid #f9461d;
	border-right: 1px solid #f9461d;
}

/* End Services */

/* Start Quote */

#quote
{
	background-image: url(../img/bg-quote.jpg);
	background-size: 100% 100%;
}

#quote .layer
{
	padding: 200px 0;
	background-color: rgba(0,0,0,0.6);
}

#quote .layer i
{
	color: #f9461d;
	margin-bottom: 20px;
}

#quote .layer p
{
	color: #fff;
	font-size: 40px;
	width: 80%;
	margin: auto;
}

#quote .layer span
{
	color: #f9461d;
	font-size: 40px;
}

/* End Quote */

/* Start Gallery */

#gallery
{
	padding: 150px 0;
}

#gallery .head h2
{
	font-size: 50px;
	font-weight: 600;
}

#gallery .head p
{
	font-size: 20px;
	letter-spacing: 3px;
}

#gallery .head span
{
	display: block;
	height: 4px;
	width: 7%;
	background-color: #f9461d;
	margin: 10px auto 80px;
}

#gallery .link a
{
	background-color: #f9461d;
	margin-right: 10px;
	border: none;
	margin-bottom: 50px;
	text-transform: uppercase;
}

#gallery .picture
{
	position: relative;
	overflow: hidden;
	margin-bottom: 30px;
}

#gallery .picture img
{
	/*transition-delay: 0.3s;*/
}

#gallery .picture:hover img
{
	transform: scale(1.2,1.2);
}

#gallery .picture .info
{
	background-color: rgba(0,0,0,0.6);
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	opacity: 0;

}

#gallery .picture:hover .info
{
	opacity: 1;
}

#gallery .picture .info p
{
	text-align: center;
	margin-top: 30%;
	font-size: 20px;
	color: #fff;
}

#gallery .picture a
{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	display: block;
}

/* End Gallery */